@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* --------------------分隔線 */


body{
	font-family:"Bruno Ace SC", sans-serif;
	line-height:1.5;
}

a{
	text-decoration: none;
	display: inline-block;
	color:inherit
}

img{
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}

.b{
    border: 1px solid yellow;
}

/* --------------------分隔線 */



.header{
    background-color: #000;
	width: 1920px;
}

.headerimg{
	justify-content: center;
}

.headerimg .img{
    background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2023week2/people.png?raw=true);
    height: 848px;
    width: 636px;
    background-repeat: no-repeat;
	margin-top: 72px;
}


.fc-w{
    color:white;
}

.d-flex{
    display: flex;
}

.nav{
	height: 128px;
	font-size: 16px;
	line-height: 24px;
	font-weight: normal;
	color: #D1D1D1;
	align-items: center;
	text-align: center;
	justify-content: space-around;
}
.headerimg .content{
	margin-top: 232px;
	margin-left: 10px;
	flex-direction: column;
}

.headerimg .content h1,h2{
	font-size: 64px;
	line-height: 96px;
	font-weight: normal;
}

.headerimg .content h3{
	margin-left: 60px;
	font-size: 128px;
	line-height: 192px;
	color: #00FFA3;

}

.container{
	width: 1296px;
	margin: 0 auto;
}

.text-primary{
	color: #00FFA3;
}

.h1{
	font-size: 128px;
}

.h2{
	font-size: 64px;
	color: white;
}

.align-items-center{
	align-items:center;
}